jupyterlab-dash==0.1.0a3
atomicwrites==1.3.0
attrs==19.1.0
azure-common==1.1.18
azure-nspkg==3.0.2
azure-storage-common==1.4.2
azure-storage-blob==1.5.0
black==19.3b0
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
entrypoints==0.3
flake8==3.7.7
idna==2.8
mccabe==0.6.1
more-itertools==7.0.0
mypy==0.700
mypy-extensions==0.4.1
numpy==1.16.2
pandas==0.24.2
pluggy==0.9.0
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
pytest==4.4.0
pytz==2019.1
requests==2.21.0
six==1.12.0
tqdm==4.31.1
typed-ast==1.4.0
urllib3==1.24.2
avro-python3==1.8.2
adal==1.2.2
pyodbc==4.0.27
openpyxl==3.0.1
beautifulsoup4==4.8.1
coloredlogs==10.0
django-core==1.4.1
html5lib==1.0.1
humanfriendly==4.18
lightgbm==2.3.0
lxml==4.4.1
memory-profiler==0.55.0
PyMySQL==0.9.3
python-dateutil==2.8.1
requests-ftp==0.3.1
sqlparse==0.3.0
Unidecode==1.1.1
verboselogs==1.7
wget==3.2
xgboost==0.90
zope.interface==4.7.1
confuse==1.0.0
lightgbm==2.3.0
paramiko==2.6.0
scp==0.13.2
wapi-python==0.5.1
Unidecode==1.1.1
tables==3.6.1
DateTime==4.3
utils==0.9.0
feather-format==0.4.0
modin==0.6.3
pyarrow==0.15.1
boto3==1.10.27
dvc==0.71.0
ibis-framework==1.2.0
opencv-contrib-python==4.1.2.30
tensorflow-gpu==2.5.1
Keras==2.3.1
Pillow==6.2.1
tensorboard==2.0.2
psycopg2==2.8.4
mysql-connector-python==8.0.18
pymongo==3.9.0
cassandra-driver==3.20.2
hbase-python==0.5
neo4j==1.7.6
cx-Oracle==7.2.3
